.alimentacao {
    color: darkred;
}

.exercicio {
    color: lightseagreen;
}

.sono {
    color: darkgray;
}

#alimentacao {
    color: darkred;
}

#exercicio {
    color: lightseagreen;
}

#sono {
    color: darkgray;
}